@model Note

<h2>Створити замітку</h2>

@using (Html.BeginForm("Create", "Note", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Text)
        @Html.TextAreaFor(model => model.Text)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tags)
        @Html.TextBoxFor(model => model.Tags)
    </div>

    <button type="submit">Зберегти</button>
}


